n8n/cerebro_workflow_v2.json
{
  "name": "Cerebro v2 — Everything via Hermes Gateway",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram — Receive message",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = msg.message?.text || msg.message?.caption || '';\nreturn [{\n  json: {\n    raw_text: text,\n    chat_id: msg.message?.chat?.id,\n    username: msg.message?.from?.username || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-msg",
      "name": "Extract message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/tool/ollama_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:1.7b\",\n  \"temperature\": 0.1,\n  \"system\": \"You are an intent classifier. Respond ONLY with compact JSON, no markdown, no explanations. Categories: TASK = create/update/query a task, reminder, to-do or calendar event, including where to store it (Notion, Trello, etc.). Examples: 'add this to my calendar', 'guarda el task en Notion', 'recuerdame llamar al banco'. NOTE = create or query a note. Examples: 'quiero tomar nota de esto', 'apunta que...', 'save this as a note'. CONTENT = draft or publish a post or article. PROGRESS = log metrics or progress. TECHNICAL_QUERY = complex technical/engineering questions that need deep reasoning. SIMPLE_QUERY = short general questions. CHAT = greetings and casual conversation. Examples: 'hola', 'how are you'. Rules: use_claude=true ONLY for TECHNICAL_QUERY. For CHAT and SIMPLE_QUERY always use_claude=false. Output format: {\\\"intent\\\":\\\"CATEGORY\\\",\\\"confidence\\\":0.0-1.0,\\\"use_claude\\\":true|false}\",\n  \"prompt\": \"{{ $json.raw_text }}\"\n}"
      },
      "id": "hermes-classify",
      "name": "Hermes — Classify intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const fast = $('Fast route').first().json;\nlet intent, confidence, use_claude, route;\n\nif (fast._decided) {\n  route = fast.route; intent = fast.intent; confidence = fast.confidence; use_claude = fast.use_claude;\n} else {\n  let parsed;\n  try {\n    let raw = $input.first().json.result || '{}';\n    raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '');   // qwen3 reasoning block\n    const cleaned = raw.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n    const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(match ? match[0] : cleaned);\n  } catch (e) {\n    parsed = { intent: 'CHAT', confidence: 0.5, use_claude: false };\n  }\n  intent = parsed.intent || 'CHAT';\n  confidence = parsed.confidence ?? 0.5;\n  use_claude = !!parsed.use_claude;\n  // Casual conversation must always stay on local Qwen.\n  if (intent === 'CHAT' || intent === 'SIMPLE_QUERY') use_claude = false;\n  const KNOWN = ['TASK','NOTE','CONTENT','PROGRESS','CHAT','SIMPLE_QUERY'];\n  route = use_claude ? 'CLAUDE' : intent;\n  if (route !== 'CLAUDE' && !KNOWN.includes(route)) route = 'CHAT';\n}\n\nreturn [{ json: {\n  raw_text: fast.raw_text,\n  chat_id: fast.chat_id,\n  username: fast.username,\n  timestamp: fast.timestamp,\n  intent, confidence, use_claude, route\n} }];"
      },
      "id": "parse-intent",
      "name": "Parse intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CLAUDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "claude"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "TASK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "task"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "NOTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "note"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CONTENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "content"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "progress"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "CHAT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "SIMPLE_QUERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "simple"
            }
          ]
        },
        "fallbackOutput": "extra"
      },
      "id": "router",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1460,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/tool/claude_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"system\": \"You are the personal assistant of Sebastian Sterling, DevSecOps Engineer at Expert Radiology (Puerto Rico). You have context on his k3s home lab (Sadida, Ocra, Sram, Xelor, Sacro, Aery), personal software projects, and productivity system. Be direct and technical. Respond in the user's language.\",\n  \"prompt\": \"={{ $('Parse intent').first().json.raw_text }}\",\n  \"max_tokens\": 1024\n}"
      },
      "id": "hermes-claude",
      "name": "Hermes → Claude (top quality)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{ json: { response_text: r.result || 'No response.', source: 'Claude' } }];"
      },
      "id": "parse-claude",
      "name": "Parse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/tool/ollama_chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:4b\",\n  \"temperature\": 0.7,\n  \"system\": \"You are Sebastian's personal assistant. Detected intent: {{ $('Parse intent').first().json.intent }}. Be direct and concise. Respond in the user's language.\",\n  \"prompt\": \"={{ $('Parse intent').first().json.raw_text }}\"\n}"
      },
      "id": "hermes-ollama-chat",
      "name": "Hermes → Ollama (chat/simple)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nreturn [{ json: { response_text: r.result || 'No response.', source: 'Hermes/Ollama' } }];"
      },
      "id": "parse-ollama",
      "name": "Parse Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        780
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `✍️ [Content Agent — Phase 4]\\nDetected: \"${d.raw_text}\"`, source: 'Content-Agent' } }];"
      },
      "id": "agent-content",
      "name": "Content Agent [TODO Phase 4]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Parse intent').first().json;\nreturn [{ json: { response_text: `📊 [Progress Agent — Phase 5]\\nDetected: \"${d.raw_text}\"`, source: 'Progress-Agent' } }];"
      },
      "id": "agent-progress",
      "name": "Progress Agent [TODO Phase 5]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst r = all.find(i => i.json.response_text) || all[0];\nconst d = $('Parse intent').first().json;\nconst src = r.json.source || 'System';\nconst icon = src === 'Claude' ? '🤖' : src.includes('Ollama') ? '⚡' : '🔧';\nreturn [{\n  json: {\n    chat_id: d.chat_id,\n    response_text: r.json.response_text,\n    footer: `\\n\\n${icon} ${src} · ${d.intent} (${Math.round((d.confidence||0)*100)}%)`\n  }\n}];"
      },
      "id": "merge",
      "name": "Merge response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response_text + $json.footer }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Telegram — Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2380,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet text = (d.raw_text || '').trim();\nconst lower = text.toLowerCase();\n\n// Slash commands go straight to an agent (skip the qwen classifier).\nconst SLASH = { '/claude':'CLAUDE', '/task':'TASK', '/note':'NOTE', '/content':'CONTENT', '/progress':'PROGRESS', '/qwen':'CHAT', '/chat':'CHAT' };\nlet decided = false, route = null;\nconst m = lower.match(/^(\\/[a-z]+)\\b/);\nif (m && SLASH[m[1]]) {\n  route = SLASH[m[1]];\n  decided = true;\n  text = text.slice(m[1].length).trim();   // strip the command token\n}\n\n// Very large prompts go straight to Claude (skip classification).\nconst MAX_LOCAL_CHARS = 1500;\nif (!decided && text.length > MAX_LOCAL_CHARS) { route = 'CLAUDE'; decided = true; }\n\nconst intent = route === 'CLAUDE' ? 'TECHNICAL_QUERY' : (route || 'CHAT');\nreturn [{\n  json: {\n    raw_text: text,\n    chat_id: d.chat_id,\n    username: d.username,\n    timestamp: d.timestamp,\n    _decided: decided,\n    route: decided ? route : null,\n    intent: decided ? intent : null,\n    confidence: decided ? 1 : null,\n    use_claude: decided ? (route === 'CLAUDE') : false\n  }\n}];"
      },
      "id": "fast-route",
      "name": "Fast route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "decided-cond",
              "leftValue": "={{ $json._decided }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "needs-classify",
      "name": "Needs classification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        400
      ]
    },
    {
      "id": "build-note",
      "name": "Build note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        360
      ],
      "parameters": {
        "jsCode": "// Turn the incoming message into a note payload for Hermes note_save.\nconst d = $('Parse intent').first().json;\nconst text = (d.raw_text || '').trim();\nconst nl = text.indexOf('\\n');\nconst title = (nl === -1 ? text : text.slice(0, nl)).slice(0, 120) || 'Quick note';\nconst body = { title, content: text, folder: 'Inbox', tags: ['cerebro'], sync: true };\nreturn [{ json: { requestBody: JSON.stringify(body) } }];"
      }
    },
    {
      "id": "hermes-note-save",
      "name": "Hermes → Save note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/tool/note_save",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}"
      }
    },
    {
      "id": "parse-note",
      "name": "Parse note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        360
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst text = r.ok ? `📝 ${r.result}` : `⚠️ Note not saved: ${r.error || 'unknown error'}`;\nreturn [{ json: { response_text: text, source: 'Brain' } }];"
      }
    },
    {
      "id": "build-task",
      "name": "Build task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        160
      ],
      "parameters": {
        "jsCode": "// Build a Linear GraphQL mutation from the incoming message.\n// First line -> issue title, the rest -> description.\nconst d = $('Parse intent').first().json;\nconst text = (d.raw_text || '').trim();\nconst nl = text.indexOf('\\n');\nconst title = (nl === -1 ? text : text.slice(0, nl)).slice(0, 200) || 'Untitled task';\nconst description = nl === -1 ? '' : text.slice(nl + 1).trim();\n// TODO: set your Linear team id (see setup instructions).\nconst teamId = 'REPLACE_WITH_LINEAR_TEAM_ID';\nconst body = {\n  query: 'mutation CreateIssue($teamId: String!, $title: String!, $description: String) { issueCreate(input: { teamId: $teamId, title: $title, description: $description }) { success issue { identifier title url } } }',\n  variables: { teamId, title, description },\n};\nreturn [{ json: { requestBody: JSON.stringify(body) } }];"
      }
    },
    {
      "id": "linear-create",
      "name": "Linear — Create issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Linear API Key"
        }
      }
    },
    {
      "id": "parse-task",
      "name": "Parse task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        160
      ],
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst res = r && r.data && r.data.issueCreate;\nconst issue = res && res.issue;\nconst text = (res && res.success && issue)\n  ? `✅ Task created in Linear: ${issue.identifier} — ${issue.title}\\n${issue.url}`\n  : `⚠️ Could not create the Linear task.\\n${JSON.stringify((r && r.errors) || r).slice(0, 400)}`;\nreturn [{ json: { response_text: text, source: 'Linear' } }];"
      }
    }
  ],
  "connections": {
    "Telegram — Receive message": {
      "main": [
        [
          {
            "node": "Extract message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes — Classify intent": {
      "main": [
        [
          {
            "node": "Parse intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse intent": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Hermes → Claude (top quality)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Agent [TODO Phase 4]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Progress Agent [TODO Phase 5]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes → Ollama (chat/simple)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes → Claude (top quality)": {
      "main": [
        [
          {
            "node": "Parse Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes → Ollama (chat/simple)": {
      "main": [
        [
          {
            "node": "Parse Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ollama": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Agent [TODO Phase 4]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress Agent [TODO Phase 5]": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge response": {
      "main": [
        [
          {
            "node": "Telegram — Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract message": {
      "main": [
        [
          {
            "node": "Fast route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fast route": {
      "main": [
        [
          {
            "node": "Needs classification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs classification?": {
      "main": [
        [
          {
            "node": "Parse intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hermes — Classify intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build task": {
      "main": [
        [
          {
            "node": "Linear — Create issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear — Create issue": {
      "main": [
        [
          {
            "node": "Parse task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse task": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build note": {
      "main": [
        [
          {
            "node": "Hermes → Save note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hermes → Save note": {
      "main": [
        [
          {
            "node": "Parse note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse note": {
      "main": [
        [
          {
            "node": "Merge response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "cerebro",
    "hermes",
    "v2"
  ]
}
